table {
    border: 5px solid crimson;
}
td {
    border: 2px solid crimson;
}
a.edit-address{
    background-color: yellow;
    color: darkblue;
}
a.delete-address {
    background-color: red;
    color: white;
}