<a (click)="redirectToAddAddress()" *ngIf="adminLoggedIn">Add Address</a><br>

<table>
    <tr>
        <th>Building/ Door Number</th>
        <th>Street</th>
        <th>Area</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Pincode</th>
        <th>Edit/Delete</th>
    </tr>
    <tr *ngFor="let a of addressList">
        <td>{{a.building}}</td>
        <td>{{a.street}}</td>
        <td>{{a.area}}</td>
        <td>{{a.city}}</td>
        <td>{{a.state}}</td>
        <td>{{a.country}}</td>
        <td>{{a.pincode}}</td>
        <td><a (click)="redirectToEditAddress(a)" class="edit-address">Edit</a>/
            <a (click)="deleteAddress(a)" class="delete-address">Delete</a></td>
    </tr>
</table>