<div class="service-container" *ngIf="!loggedin else defaultcontent">
    <div class="sidebar">
        <ul>
           <li><a routerLink="/servicesList/ticketList"> Tickets</a></li> 
           <li><a routerLink="/servicesList/movieList">Movies</a></li> 
           <li><a routerLink="/servicesList/searchList">Search History</a></li> 
           <li><a routerLink="/servicesList/purchaseHistory">Purchase History</a></li> 
        </ul>
    </div>

    <div class="main-content">
        <!-- <ul>
            <li>Movie 1</li>
            <li>Movie 2</li>
            <li>Movie 3</li>
            <li>Movie 4</li>
            <li>Movie 5</li>
        </ul> -->
        <app-searchbar></app-searchbar><br />
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #defaultcontent>
    Please Login after clicking 'Home' to check out exclusive services like Ticket booking, Movie catalog, Search History and Purchase History etc.
</ng-template>
