<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="form-group">
        <label for="username">UserName</label>
        <input type="text" formControlName="username" placeholder="enter the username of your choice" required class="form-control">
        <div class="username-error" *ngIf="username?.touched && username?.invalid">
            UserName should not be empty!
        </div>
        <label for="userpassword">Password</label>
        <input type="password" formControlName="userpassword" placeholder="Choose and enter password" required class="form-control">
        <div class="userpassword-error" *ngIf="userpassword?.touched && userpassword?.invalid">
            Password should not be empty!
        </div>
        <button type="submit">Register</button>
    </div>
</form>
<div class="register-form-error" *ngIf="formError">
    The registration failed as the  userId {{username}} is not unique and is already present and used! Please try again!
</div>

