<form [formGroup]="searchForm" (ngSubmit)="submit()" class="searchForm">
    <select (onchange)="changeEntity()" class="form-control" formControlName="searchEntity" aria-placeholder="Select Entity">
        <option value="ADDRESS">Address</option>
        <option value="MOVIE">Movie</option>
        <option value="THEATRE">Theatre</option>
        <option value="GENRE">Genre</option>
        <option value="SHOWTIME">Showtime</option>
    </select>
    <input type="search" class="form-control" formControlName="searchBox">
    <span (click)="showFilters(searchForm.get('searchEntity')?.value)" class="form-control" id="FiltersIcon">Filters</span>
    <span id="sortBy">Sort By : </span> 
    <select formControlName="sortBy" (onchange)="setSortField()">
            <option value="s" *ngFor="let s of sortFieldList">{{s}}</option>
    </select>
    <span (click)="toggle()" class="form-control" id="sortButton">Sort - {{sort}}</span>
    <button type="submit">Search</button>
</form>
<br>
<form [formGroup]="filterForm" (ngSubmit)="applyFilters()" id="filterForm" [style.display]="filterShow? 'flex':'none'">
    <div class="filter-group" *ngFor="let f of filterControls">
        <label>{{f}}</label>
        <input type="text" [formControlName]="f" class="form-control" value="">
    </div>
    <button type="submit" id="apply-filters">Apply Filters</button>
</form>
<pre>
    
</pre>