a {
    background-color: yellow;
    text-decoration: dashed;
    text-align: center;
}
table{
    text-align: center;
    border: 5px solid crimson;
    padding: 2px;
    margin: 2px
}
table tr td{
    text-align: center;
}
td,th {
    border: 1px solid crimson;
}