<p>screeninglist works!</p>

<a *ngIf="adminLoggedIn" routerLink="../addScreening">Add Screening</a>


<div *ngIf="adminLoggedIn">
    <table>
        <tr>
            <th>Screening ID</th>
            <th>Theatre</th>
            <th>Movie</th>
            <th>Showtime</th>
            <th>Date</th>
            <th>Status</th>
            <th colspan="2">Edit/Delete</th>
        </tr>
        <tr *ngFor="let s of allScreeningsList">
            <td>{{s.id}}</td>
            <td>{{s.theatre.name}}</td>
            <td>{{s.movie.title}}</td>
            <td>{{s.showTime.showName}}({{s.showTime.startTime}} to {{s.showTime.endTime}})</td>
            <td>{{s.date}}</td>
            <td>{{s.status}}</td>
            <td><a (click)="editScreening(s)">Edit</a></td>
            <td><a (click)="deleteScreening(s)">Delete</a></td>
        </tr>
    </table>
</div>
<div *ngIf="!loggedIn">

</div>

