
<h1 id="home-greeting">Welcome To MoviePlan App!</h1>

<div class="carousel-container">
    To avail exclusive services, such as book movie tickets, check current movies and see purchase/ search history,
    please login below and click on 'SERVICES' shown above.
</div>
<hr />
<hr />
<div class="login">
    <form #loginForm="ngForm" method="post" (ngSubmit)="submit(loginForm)">
        <div class="form-group">
        <label>UserName:</label>
        <input type="text" name="userName" class="form-control" ngModel placeholder="Enter UserName" required>
        </div>
        <div class="form-group">
        <label>PassWord:</label>
        <input type="password" name="password" class="form-control" ngModel placeholder="Enter Password" required>
        </div> <br>
        <div class="form-group">
            Are you admin?
            <input type="radio" name="adminrole" class="form-control" ngModel id="adrole1" value="Yes" required> Yes
            <input type="radio" name="adminrole" class="form-control" ngModel id="adrole2" value="No" required> No
        </div>
        <button type="submit" class="submitbutton">Sign In</button>

    </form>

</div>