
<h1 id="home-greeting">Welcome To MoviePlan App!</h1>

<div class="carousel-container">
    To avail exclusive services, such as book movie tickets, check current movies and see purchase/ search history,
    please login below and click on 'SERVICES' shown above.
</div>
<hr />
<hr />
<div class="login">
    <form method="post">
        <div class="formgroup">
        <label>UserName:</label>
        <input type="text" placeholder="Enter UserName">
        </div>
        <div class="formgroup">
        <label>PassWord:</label>
        <input type="password" placeholder="Enter Password">
        </div> <br>
        <div class="formgroup">
            Are you admin?
            <input type="radio" name="adminrole" id="adrole1"> Yes
            <input type="radio" name="adminrole" id="adrole2"> No
        </div>
        <input type="submit" class="submit" value="Sign In">

    </form>

</div>