
<div *ngIf="adminLoggedin">
    <div class="dropdown">
        Hello {{adminUserName}}
        <div class="dropdown-content">
            <ul>
            <li><a href="#" (click)="logout()">LogOut</a></li>
            </ul>
        </div>
        </div>
</div>

<div *ngIf="userloggedin">
    <div class="dropdown">
    Hello {{userName}}
    <div class="dropdown-content">
        <ul>
        <li><a href="#" (click)="logout()">LogOut</a></li>
        <li><a href="#" routerLink="/changepassword">Change Password</a></li>
        </ul>
    </div>
    </div>
</div>
    <div class="default-text" *ngIf="!loggedin">
    <a routerLink="/register">SignUp</a> / <a routerLink="/home">SignIn</a>
    </div>
