<html>
  <head>
    <title>NMS Cinemas</title>
  </head>
<body>
  <nav>
    <h4 class="icon">MOVIEPLAN</h4>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li>
        <div class="dropdown">
            <div><a routerLink="/servicesList">Services</a></div>
            <div class="dropdown-content">
              <ul>
                <li><a routerLink="/ticketList">Tickets</a></li>
                <li><a routerLink="/movieList">Movies</a></li>
                <li><a routerLink="/searchHistory">Search History</a></li>
                <li><a routerLink="/purchaseHistory">Purchase History</a></li>
              </ul>
            </div>
        </div>
      </li>
      <li><a routerLink="/contact">Contact Us</a></li>
    </ul>
    <!-- <h4 class="userinfo-active">
      HELLO ADMIN
    </h4> -->
    <app-login-status class="userinfo-active"></app-login-status>
  </nav>
<router-outlet></router-outlet>
<footer>@CopyRight All Rights Reserved.</footer>
</body>
</html>