body{
    background-color: gold;
}
nav {
    display: block;
    background-color: darkgreen;
    color: aquamarine;
    font-family: tahoma serif;
    font-variant-caps: all-small-caps;
    height: 150px;
}

nav .icon {
    font-size: 28px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkcyan;
    color: yellow;
    min-width: 250px;
    padding: 0px;
    margin: 0px;
}

.dropdown-content ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
}

.dropdown:hover .dropdown-content{
    display: block;
}


nav ul {
    list-style-type: none;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li a {
    color:yellow;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: wheat;
    color: brown;
    text-decoration: none;
}

.userinfo-active{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 20px;
}

.userinfo-inactive{
    display: none;
}

footer{
    text-align: center;
    display: block;
    background-color: red;
    color: cyan;
}