#toast-message{
    visibility: visible;
    min-width: 350px;
    top: 30px;
    text-align: center;
    left:50%;
    color: green;
    background-color: greenyellow;
}

/* #toast-message.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
} 

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity:1;}
}

@keyframes fadein{
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity:1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity:1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity:1;}
    to {top: 0; opacity: 0;}
}*/