
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form .form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px;
    margin: 5px;
}
label{
    width: 160px;
    text-align: center;
}
.form-control{
    width: 250px
}
button{
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 60px;
    font-size: 14px;
}
.form-error{
    display: block;
    text-align: center;
    background-color: white;
    color: crimson;
}