
<form [formGroup]="addTheatreForm" (ngSubmit)="addTheatre()">
    <div class="form-group">
        <div class="form-label">Id</div>
        <input type="text" formControlName="id">
    </div>
    <div class="form-group">
        <div class="form-label">Theatre Name</div>
        <input type="text" formControlName="name" value="">
    </div>
    <div class="form-group">
        <div class="form-label">Number Of Screens</div>
        <input type="number" min="0" max="15" formControlName="screens">
    </div>
    <div class="form-group" id="address-selection">
        <div class="form-label">Address</div><br>
        <fieldset formGroupName="address">
            Country:
            <select (change)="spinUpStates()" formControlName="country">
                <option value="{{a.country}}" *ngFor="let a of allAddressesList">{{a.country}}</option>
            </select>
            State:
            <select (change)="spinUpCities()" formControlName="state">
                <option value="{{a.state}}" *ngFor="let a of stateListFiltered">{{a.state}}</option>
            </select>
            City:
            <select (change)="spinUpAreas()" formControlName="city">
                <option value="{{a.city}}" *ngFor="let a of cityListFiltered">{{a.city}}</option>
            </select>
            Area:
            <select (change)="spinUpStreets()" formControlName="area">
                <option value="{{a.area}}" *ngFor="let a of areaListFiltered">{{a.area}}</option>
            </select>
            Street:
            <select (change)="spinUpBuildings()" formControlName="street">
                <option value="{{a.street}}" *ngFor="let a of streetListFiltered">{{a.street}}</option>
            </select>
            Building/ Door No:
            <select formControlName="building">
                <option value="{{a.building}}" *ngFor="let a of buildingListFiltered">{{a.building}}</option>
            </select>
        </fieldset>
    </div>
    <button type="submit">Add Theatre</button>
</form>