
<div class="movie-container" *ngIf="loggedin">
    <div class="movie-card">
        <figure>
            <img src="" alt="Movie Image Not Found">
            <figcaption>Bahubali</figcaption>
        </figure><br>

        <button>Book Ticket</button>

    </div>
    <div class="movie-card">
        <figure>
            <img src="" alt="Movie Image Not Found">
            <figcaption>Bahubali</figcaption>
        </figure><br>

        <button>Book Ticket</button>

    </div>
    <div class="movie-card">
        <figure>
            <img src="" alt="Movie Image Not Found">
            <figcaption>Bahubali</figcaption>
        </figure><br>

        <button>Book Ticket</button>

    </div>
    <div class="movie-card">
        <figure>
            <img src="" alt="Movie Image Not Found">
            <figcaption>Bahubali</figcaption>
        </figure><br>

        <button>Book Ticket</button>

    </div>
    <div class="movie-card">
        <figure>
            <img src="" alt="Movie Image Not Found">
            <figcaption>Bahubali</figcaption>
        </figure><br>

        <button>Book Ticket</button>

    </div>
</div>