
<div *ngIf="adminLoggedIn">
<a target="_top">Add Movie</a>
</div>

<div class="movie-container" *ngIf="loggedin">
    <form [formGroup]="movieForm">
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/baahubali2.webp" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Bahubali 2<br><button>Book Ticket</button>
            <br><button formControlName(click)="toggleMovieEdit()">Edit Movie</button>
            </figcaption>
        </figure><br>
    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/bahubali.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Bahubali<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/gemini.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Gemini<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/indra.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Indra<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/Julayi.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Julayi<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    </form>
</div>

<div *ngIf="!loggedin">
    No Movies found
</div>