
<div *ngIf="adminLoggedIn">
<span (click)="redirectToAddMovie()">Add Movie</span>
</div>
<!-- <div class="movie-container" *ngIf="loggedin">
    <form [formGroup]="movieForm">
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/baahubali2.webp" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Bahubali 2<br><button>Book Ticket</button>
            <br><button formControlName(click)="toggleMovieEdit()">Edit Movie</button>
            </figcaption>
        </figure><br>
    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/bahubali.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Bahubali<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/gemini.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Gemini<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/indra.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Indra<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    <div class="movie-card">
        <figure>
            <img src="../../../assets/movies/Julayi.jpg" alt="Movie Image Not Found" width="250px" height="300px">
            <figcaption>Julayi<br><button>Book Ticket</button></figcaption>
        </figure><br>

    </div>
    </form>
</div> -->
<div class="movie-container" *ngIf="userLoggedIn && movieList.length!==0">
    <div class="movie-card" *ngFor="let m of movieList">
        <!-- <pre>
           {{m | json}}
        </pre> -->
        <figure>
            
            <img src="assets/movies/{{m.fileName}}" alt="{{m.title}}" width="250px" height="300px" />
            <figcaption>
                <button *ngIf="m.status === 'enabled'">Book Ticket</button><br>
                <!-- <button *ngIf="adminLoggedIn" (click)="toggleMovieEdit(m)">Edit Movie</button> -->
            </figcaption>
        </figure>
    </div>
    
</div>

<div class="movie-container" *ngIf="adminLoggedIn && movieList.length!==0">
    <div class="movie-card" *ngFor="let m of movieList">
        <figure>  
            <img src="assets/movies/{{m.fileName}}" alt="{{m.title}}" width="250px" height="300px" />
            <figcaption>
                <button *ngIf="m.status === 'enabled'">Book Ticket</button><br>
                <button *ngIf="adminLoggedIn" (click)="toggleMovieEdit(m)">Edit Movie</button>
                <button *ngIf="adminLoggedIn" (click)="deleteMovie(m)">Delete Movie</button>
            </figcaption>
        </figure>
    </div>
</div>

<div *ngIf="!loggedin || movieList.length===0">
    No Movies found
</div>