
<form [formGroup]="atF" (ngSubmit)="addTicket()">
    <div class="form-group">
        <div class="form-label">User to whom ticket is intended</div>
        <div class="form-control">
            <input type="text" formControlName="user">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Movie</div>
        <div class="form-control">
            <input type="text" formControlName="movie">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Date</div>
        <div class="form-control">
            <input type="date" formControlName="date">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Showtime</div>
        <div class="form-control">
            <select formControlName="showtime">
                <option *ngFor="let s of allShowtimeList" value="{{s.id}}">{{s.showName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">Theatre</div>
        <select formControlName="theatre">
            <option *ngFor="let t of allTheatreList" value="{{t.id}}">{{t.name}}</option>
        </select>
    </div>
</form>