form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-label{
    width: 150px;
    align-self: flex-start;
    border-right: solid crimson;
}
.form-control{
    align-self: flex-end;
    width: 120px;
}
button{
    text-align: center;
}